<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/2.css')}}>
    <meta charset="UTF-8">
    <title>Admin_login.html</title>
</head>
<body>
<center>

<form action="/Admin", method="POST">
<label for="Admin_name">Admin_name</label>
<input type="text" id="Admin_name" name="Admin_name"><br><br>

    <label for="Admin_password">Admin_password</label>
<input type="text" id="Admin_password" name="Admin_password"><br><br>

<input type="submit">

    </form>
    </center>
</body>
</html>