<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<center>
            <div class="jumbotron">
                <h1>ABC HOSPITAL</h1>
            </div>
        </center>
<body>
<div class="">
            <center>
                <div class="alert alert-success">
                    <strong>Registration Success!</strong>
                </div>
                <a class="btn btn-success" href="/index">Go to Patients Home Page</a>
            </center>

        </div>
</body>
</html>